<footer>
    <div class="">
    <div class="flex center">
        <img src="img/icons/facebook.png" alt="facebook">
        <img src="img/icons/instagram.png" alt="instagram">
        <img src="img/icons/twitter.png" alt="twitter">
    </div>
    <div class="flex center white mb-22">
        <span>Aviso de Privacidade</span>
        <span>Termos e Condições de Uso</span>
        <span>Fale Conosco</span>
    </div>
    </div>
</footer>