

<header class="background-header w-100">
  <div class="flex w-100">
    <div class="logo-header">
      <a href="#">
        <img src="/img/logo-headre.png">
      </a>
    </div>
    <nav class="flex nav-bar">
      <button class="button-header">
        <a href="/home01">Pagina Inicail</a>
      </button>
      <button class="button-header">
        <a href="*">Consultórios e serviços</a>
      </button>
      <button class="button-header">
        <a href="*">Propdutos</a>
      </button>
    </nav>
    <div class="flex center buscar">
      <img class="lupa" src="/img/icons/lupa.png" alt="Buscar conteudo">
      <a href="#">Buscar</a>
    </div>
    <div class="flex center user-bg">
      <img src="/img/icons/user-icon.png" alt="Menu do Usuario">
    </div>
  </div>
</header>