

<header >
     
    <div>
        <h1>Logo</h1>
    </div>
    <nav class="flex nav-bar">
        <button class="button-header">
          <a href="*">Pagina Inicail</a>
        </button>
        <button class="button-header">
          <a href="*">Consultórios e serviços</a>
        </button>
        <button class="button-header">
          <a href="*">Propdutos</a>
        </button>
      </nav>
      <div class="flex center buscar">
        <img class="lupa" src="../icons/lupa.png" alt="Buscar conteudo">
        <a href="#">Buscar</a>
      </div>
      <div class="flex center user-bg">
        <img src="../icons/user-icon.png" alt="Menu do Usuario">
      </div>
    </div>
</header>