<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs') %>
<body>
    <!-- <%- include('./components/header.ejs')%> -->
    <main id="">
       <section class="p-22">
                
        <div class="flex w-100 center">
        
        <div class="bg-forms w-75">
          <div class="flex center normal-text">
            <h2 class="">Insira os dados do Consultório a ser cadastrado:</h2>
          </div>
          <form method="POST" action="/cadastrar-consultorio">
            <div class="flex space-between">
            <div class="w-50 mr-5">
              <span class="w-50">
                <label for="#">Nome do consultório</label>
                <input placeholder="Digite Nome do consultório" name="nome" type="text">
              </span>
              <span class="w-50">
                <label for="#">Endereço</label>
                <input placeholder="Digite o endereço do consultório" name="endereco" type="text">
              </span>
              <span class="w-50">
                <label for="name">Telefone</label>
                <input placeholder="(xx) 99999-9999" name="telefone" type="text">
              </span>
              <span class="w-100">
                <label for="email">E-mail</label>
                <input placeholder="medpet@medpet.com.br" name="email" type="email">
              </span>
              <span class="w-100">
                <label for="senha">Senha</label>
                <input placeholder="Digite uma senha" name="senha" type="password">
              </span>
            </div>
            <div class="w-50">
              <span class="w-100">
                <label for="name">CEP</label>
                <input placeholder="Digite CEP do consultório" name="cep" type="text">
              </span>
              <span class="w-100">
                <label for="name">UF</label>
                <input placeholder="UF" name="UF" type="text">
              </span>
              <span class="w-100">
                <label for="name">Número</label>
                <input placeholder="Digite número do consultório" name="numero" type="text">
              </span>
              <span class="w-100">
                <label for="name">Complemento</label>
                <input placeholder="EX. bloco, andar, sala " name="complemento" type="text">
              </span>
              <span class="w-100">
                <label for="senha">Confirmação de Senha</label>
                <input placeholder="Confirme sua senha" name="confirmacao" type="password">
              </span>
            </div>  
          </div>
          <div class="flex mb-22">
            <input class="mr-5" type="checkbox" name="aceite" value="true">
            <p class="normal-text">Eu declaro que li e aceito todos os Termos de Uso contidos na<a class="link" href="#">Política de Privacidade.</a></p>
          </div>

          <div class="center box w-50">
            <button class="button-black box mb-22" type="submit">Cadastrar</button>
            <button class="button-cancel secondary-font" type="reset">Cadastrar</button>
          </div>
          </form>
          </div>
        </div>
      </section>
    </main>

    <%- include('./components/footer.ejs')%>
</body>
</html>