<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs') %>

  <body>
    <%- include('./components/header.ejs')%>
      <main id="LoginRegister_page">
        <section class="p-22">
          <div class="w-100 flex center">
            <div class="w-50 center box">
              <img class="logoMedPet_text-purple" src="./img/Logo-medvet.png">
            </div>

            <div class="w-50 center box">
              <div class="button-purple w-50 box mb-22">
                <a href="/login">Login</a>
              </div>
              <div class="button-purple w-50 box mb-22">
                <a href="/register">Registrar</a>
              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include('./components/footer.ejs')%>
  </body>

</html>