<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body>
    <%- include('./components/header.ejs')%>
    <main class="flex space-between">
      <div class="w-50 white">
        <h1 class="mb-22">BOAS-VINDAS AO SEU HUB DE CONTEÚDO VETERINÁRIO</h1> 
        <h2 class="mb-22">Aqui você encontra casos práticos, baseados na realidade do médico veterinário, os médicos cadastrados podem criar e compartilhas conteúdos com base na experiência do dia-a-dia. Além de, diversas Ferramentas para auxiliá-lo no dia-a-dia do seu consultório.</h2>
         <cite class="">“Mesmo longe, estamos conectados.”</cite>
       </div>
       <div class="w-25">
         <img src="../img/image-11.png" alt="Imagem decorativa">
       </div>
    </main>

    <%- include('./components/footer.ejs')%>
</body>
</html>