<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>

  <body>
    <!-- <%- include('./components/header.ejs')%> -->
      <main id="RegistrarPage">
        <section class="p-22">
          <div class="w-100 flex center">
            <a href="index.html">
              <img src="./img/logo-login-page.png" class="LogoMedPet">
            </a>
            <h1 class="text-header center">
              Login
            </h1>
          </div>
          <div class="flex w-100 aitems-center">
            <div class="w-50 box aitens-start">
              <p class="secundary-text"><br>Olá! Este </br> espaço foi criado pra você e seu Pet!</p>
              <div class="rectangle-7"></div>
            </div>

            <form action="/login" method="POST" class="w-100">
              <div class="w-100 box center ">
                <span class="e-mail w-100 mr-5 mb-22">
                  <label for="email">E-mail</label>
                  <input name="email" type="email" placeholder="Digite seu e-mail">
                </span>

                <span class="senha w-100 mr-5 mb-22">
                  <label for="senha">Senha</label>
                  <input placeholder="Digite seu senha" name="senha" type="password">
                </span>
                <div class="w-100 box center">
                  <button type="submit" class="button-purple">Login</button>
                </div>
              </div>
            </form>

          </div>
        </section>
      </main>

      <%- include('./components/footer.ejs')%>
  </body>

</html>