<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>

  <body>
    <%- include('./components/header.ejs')%>
      <main id="RegistrarPage">
        <section class="p-22">
          <div class="w-100 flex center">
            <a href="index.html">
              <img src="./img/logo-login-page.png" class="LogoMedPet">
            </a>
            <h1 class="text-header center">
              Registrar
            </h1>
          </div>
          <div class="flex w-100 aitems-center">
            <div class="w-25">
              <p class="secundary-text">Olá!<br> Este espaço foi criado para você!</p>

            </div>

            <div class="bg-forms w-75">
              <div class="flex center normal-text">
                <h2 class="">Faça Login para acessar todo nosso conteúdo:</h2>
              </div>
              <form id="registrarForm" method="POST" action="/registrar">
                <div class="flex space-between">
                  <span class="name w-50 mr-5">
                    <label for="nome">Nome</label>
                    <input placeholder="Digite seu Nome" name="nome" type="text">
                  </span>
                  <span class="last-name w-50 mr-5">
                    <label for="senha">Senha</label>
                    <input placeholder="Digite sua senha" name="senha" type="password">
                  </span>
                </div>

                <div class="flex space-between">
                  <span class="e-mail w-50 mr-5">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" placeholder="Digite seu e-mail">
                  </span>
                  <span class="telefone w-50 mr-5">
                    <label for="telefone">Telefone</label>
                    <input placeholder="Digite seu Telefone" name="telefone" type="number">
                  </span>
                </div>

                <div class="flex space-between">
                  <span class="cpf w-50 mr-5">
                    <label for="CPF">CPF</label>
                    <input placeholder="Digite seu CPF" name="CPF">
                  </span>

                </div>

                <div class="flex mb-22">
                  <input class="mr-5" type="checkbox">
                  <p class="normal-text">Eu declaro que li e aceito todos os Termos de Uso contidos na<a class="link" href="#">Política de Privacidade.</a></p>
                </div>

                <div class="center box w-100">               
                    <button class="button-black box mb-22" type="submit">Cadastrar</button>                  
                  <div class="button-cancel secondary-font">
                    <a href="/">Cancelar</a>
                  </div>
              </form> 
              </div>
            </div>
          </div>
        </section>
      </main>
      </main>

      <%- include('./components/footer.ejs')%>
  </body>

</html>