.container {
  display: flex;
  flex-direction: column;
  margin: 25px 90px;
}

/* WIDTH */

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

/* END WIDTH */

/* LAYOUT */

.flex {
  display: flex;
  padding: 10px;
}

.aitems-center {
  align-items: center;
}

.aitens-start{
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}
.f-start {
  justify-content: flex-start;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.center {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* END LAYOUT */

/* COLORS */
.black {
  color: #000000;
}
.white {
  color: #FFFFFF;
}
.black-200 {
  color: #1B2029;
}
.black-300 {
  color: #212B30;
}
.gray-100 {
  color: #66808F;
}
.gray-200 {
  color: #C3CFD5;
}
.primary-color {
  color: #7A48EB;
}
/* END COLORS */


/* FONTS AND TEXTS */
.primary-font {
  font-family: 'Luckiest Guy', Georgia, 'Times New Roman', Times, serif, url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@300&display=swap');
}
.secondary-font {
  font-family: 'Roboto', sans-serif, url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@300&display=swap');
}
.text-header {
  font-family: 'Luckiest Guy', Georgia, 'Times New Roman', Times, serif;
  color: #7A48EB;
  font-style: normal;
  font-weight: normal;
  font-size: 82px;
  line-height: 82px;
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  text-shadow: -6px 5px 4px rgba(216, 216, 216, 0.25);
  background: #1B2029;
}
.secundary-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 127%;
  color: #7A48EB;
  padding: 0 8px 0 0;
}
.normal-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #212B30;
}


.link {
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #00567A;
}

/* END FONTS AND TEXTS */

/* BACKGROUND STYLES */
.bg-forms {
  background: #FFFFFF;
  box-shadow: 0px 120px 120px rgba(45, 63, 89, 0.04), 0px 64px 64px rgba(41, 58, 82, 0.06), 0px 32px 32px rgba(22, 34, 51, 0.02), 0px 24px 24px rgba(22, 34, 51, 0.02), 0px 4px 24px rgba(22, 34, 51, 0.02), 0px 4px 4px rgba(22, 34, 51, 0.02);
  border-radius: 20px;
  padding: 40px;
}
.bg
/* END BACKGROUND STYLES */

/*LOGO*/
.LogoMedPet {
  position: relative;
  right: 24.32%;
  top: 33.6%;
}

.logoMedPet_text-purple {
  position: relative;
  width: 680px;
  height: 590px;
}

.logoMedPet_text-black {
  position: relative;
  width: 80px;
  height: 50px;
}
/*END LOGO*/

/* SPACE */

/* PADDING */
.p-22 {
  padding: 22px;
}

.p-5821 {
  padding: 58px 21px;
}
/*.p-0 {
  padding: 0;
}*/

/*END PADING*/

/* margim */
.m-1 {
  margin: 15px 5px;
}

/* margin right */
.mr-5 {
  margin-right: 5px;
}

/* margim bottom */
.mb-22 {
  margin-bottom: 22px;
}

/*END MARGIN*/

/* BUTTONS */
.button:hover {
  border-radius: 1px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 48px;
  background: #000000;
  border-radius: 8px;
  border-color: #000000;
}
.button-black a {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.button-cancel {

  border: none;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Roboto';
}
.button-cancel a{
  color: #000000;
  font-weight: bold;
}

.button-purple {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
  height: 6vh;
  background: #7A48EB;
  border-radius: 4px;
  border-color: #000000;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.04em;
  text-align: center;

}

.button-purple a {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

/*end buttons*/

/*login page*/

.e-mail {
  color: white;
}

.senha {
  color: white;
}

.rectangle-7 {
  background-color: #7A48EB;
  width: 85%;
  height: 7px; 
  border-radius: 6px;
  margin-top: 19px;
}

/*END LOGIN PAGE*/